# Node modules
node_modules/

# Environment variables
.env

# IDE-specific files
.idea/

# Build files (if you run npm build)
build/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
